* { box-sizing: border-box; }

body
{
  padding-right: 0.53rem;
  color: black;
}

nav
{
  margin: -1.35rem -1rem -0.5rem -1rem;
  font-size: 1rem;
  display: block;
  text-align: center;
  background-color: rgb(13,161,217);
}

nav > a
{
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 1.25rem 0.625rem 1.25rem 0.625rem;
}

nav > a:hover
{
  background-color: rgb(142,17,221);
  color: darkorange;
}

div
{
  color: white;
  background-color: rgb(111,4,179);
  border: 0.625rem;
  width:auto;
}
