* { box-sizing: border-box; }

html
{
  font-family: 'No Continue';
  src: url('gomarice_no_continue.ttf');
  src: url('gomarice_no_continue.ttf') format('truetype');
}

body
{
  padding-right: 0.53rem;
  color: black;
  background-color: black;
}

nav
{
  margin: -1.35rem -1rem -0.5rem -1rem;
  font-size: 1rem;
  display: block;
  text-align: center;
  background-color: rgb(217,13,13);
}

nav > a
{
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 1.25rem 0.625rem 1.25rem 0.625rem;
}

nav > a:hover
{
  background-color: rgb(0,90,0);
  color: beige;
}

div
{
  color: white;
  background-color: rgb(0,90,0);
  margin-top: -0.5rem;
  padding-bottom: 0.25rem;
  padding-right:0.53rem;
  padding-left:0.53rem;
  border: 0.8rem;
  width:40rem;
}
