* { box-sizing: border-box; }

body
{
  padding-right: 0.53rem;
  background-image: url(./resource/background.png);
}

.heading
{
  border-style:solid;
  border:10rem;
  border-color:black;
}

nav
{
  margin: -1.35rem -1rem 0 -1rem;
  font-size: 1rem;
  display: block;
  text-align: center;
  background-color: rgb(13,161,217);
}

nav > a
{
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 1.25rem 0.625rem 1.25rem 0.625rem;
}
nav > a:hover
{
  background-color: rgb(142,17,221);
  color: darkorange;
}

p
{
  font-size: 1.5rem;
  display: block;
}
